.Card {
  Flex: 1;  /**  Faz com que o componente cresça */
  border: 3px solid #000;
  border-radius: 10px;
  overflow: hidden; /** Para exibir o canto arredondado, coberto pelo conteudo  */
  background-color: #fff;

  display: flex;  /**  O próprio Card é transformado em FlexBox */
  flex-direction: column;  /**  Coloca os elementos no eixo da coluna */
   min-width: 350px;   /** Quando chegar na largura mínima, quebra a linha automaticamente */
  /** Está dando erro no terceiro Card no Card <primeiro>, este junto com o flex-wrap  do App.css*/
  /** Se deixar min-width:300 ou menos da erro, o terceiro componente fica embaixo sozinho*/
  /** Por isso colocamos min-width:350px */
  }

.Card .Content{
  Flex: 1;  /**  Faz com que o componente cresça */
  padding: 15px 0px;  /** Vamos dar espaçamento vertical de 10 px */
  color: #000;
}

.Card .Footer{
  background-color: #000;
  color: #fff;
  padding: 5px 0px;  /** Vamos dar espaçamento vertical de 10 px */
}

/**  Texto alinhado à esquerda e Marcadores alinhados a esquerda */
ul {
  display: inline-block;
  padding-left: 0;
  text-align: left;
}
